# Build results
bin/
obj/

# VS Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Test results
TestResults/

# Coverage
coverage/
*.coverage
*.coveragexml

# Selenium
*.png

# Node (if present)
node_modules/

# Environment files
.env